.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.dev
terraform.tfvars.prod
terraform.tfstate.d/
.terraform.tfstate.lock.info
